{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ONGs Seach</title>
</head>

<body class="show">
    <header class="show">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="show p-4">
                    <h5 class="text-white h4">Pesquisa rápida</h5>
                    <span class="text-warning">Encontre a ONG desejada mais rápidamente.</span>
                </div>
                <div class="">
                    <form class="show">
                        <div class="ml-3 form-row align-items-center">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInput">Cidade</label>
                                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Cidade">
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">ONG</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ONG">
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <nav class="navbar navbar-dark show">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Alterna navegação">
                    <span class=""> <img src="https://img.icons8.com/color/32/000000/search.png"> </span>
                </button>
            </nav>
        </div>
        <nav class="flex-fill justify-content-center navbar navbar-expand-lg navbar-dark show">
            <div class="mx-5 px-5">
                <div class="mx-5 px-5">
                    <ul class="nav nav-fill">
                        <li class="my-auto nav-item">
                            <a href="/templates/trabalho.html">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32"
                                    viewBox="0 0 172 172" style=" fill:#000000;">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#ffffff">
                                            <path
                                                d="M86,13.94141l-3.86328,3.69531l-69.875,69.875l7.72656,7.72656l6.88672,-6.88672v62.14844h48.375v-53.75h21.5v53.75h48.375v-62.14844l6.88672,6.88672l7.72656,-7.72656l-69.875,-69.875zM86,29.22656l48.375,48.375v62.14844h-26.875v-53.75h-43v53.75h-26.875v-62.14844z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li class="mx-5  nav-item dropdown">
                            <a class="text-white nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">ONGs por tipo</a>
                            <div class="dropdown-menu">
                                <a class="text-info dropdown-item" href="{% url 'ongsdeanimais' %}">ONGs de
                                    Animais</a>
                                <a class="text-info dropdown-item" href="#">ONGs de Apoio a mulheres</a>
                                <a class="text-info dropdown-item" href="#">ONGs de Crianças</a>
                                <a class="text-info dropdown-item" href="#">ONGs de Dependentes Químicos</a>
                                <a class="text-info dropdown-item" href="#">ONGs De Educação</a>
                            </div>
                        </li>
                        <li class="mx-5 nav-item dropdown">
                            <a class="text-white nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Voluntariado</a>
                            <div class="dropdown-menu">
                                <a class="text-info dropdown-item" href="{% url 'voluntariado' %}">ONGs para
                                    Trabalho Voluntário</a>
                                <a class="text-info dropdown-item" href="#">ONGs para Voluntariado Empresarial</a>
                                <a class="text-info dropdown-item" href="#">Grupos de Voluntários</a>
                                <a class="text-info dropdown-item" href="#">Maiores ONGs do Piauí</a>
                            </div>
                        </li>
                        <li class="mx-5  nav-item dropdown">
                            <a class="text-white nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Eventos</a>
                            <div class="dropdown-menu">
                                <a class="text-info dropdown-item" href="{% url 'eventos' %}">Lista de
                                    Eventos</a>
                                <a class="text-info dropdown-item" href="#">Inclua um Eventos</a>
                            </div>
                        </li>
                        <li class="mx-5  nav-item dropdown">
                            <a class="text-white nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">Aprenda</a>
                            <div class="dropdown-menu">
                                <a class="text-info dropdown-item" href="{% url 'oqe' %}">O que é uma ONG</a>
                                <a class="text-info dropdown-item" href="#">Como criar uma ONG</a>
                            </div>
                        </li>
                        <li class="ml-5 my-auto nav-item">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32"
                                    viewBox="0 0 172 172" style=" fill:#000000;">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#ffffff">
                                            <path
                                                d="M148.73633,23.26367l-137.01001,49.82373l5.97339,5.96289l81.21289,81.22339zM130.76367,41.23633l-36.17627,99.50049l-27.86182,-27.86182l39.19971,-39.19971l-7.60058,-7.60058l-39.19971,39.19971l-27.86182,-27.86182z">
                                            </path>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="show">
        <section class="bg-white jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Voluntariado</h1>
                <p class="lead text-dark">ONGs Para
                    Trabalho Voluntário</p>
            </div>
        </section>

        <table class="show">
            <tbody>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-overflow">
                            <table class="table table-striped">
                                <tbody>
                                    <ul class="list-group">
                                        <tr>
                                            <td style="border: #027368;"><a class="text-white"
                                                    href="default.asp?Pag=47&amp;Estado=PI"><b>Teresina</b></a>
                                                <li class="list-group-item"><a href="default.asp?Pag=47&amp;Estado=PI"
                                                        class="text-body">Somos um</a>
                                                </li>
                                            </td>
                                        </tr>

                                    </ul>
                                    <ul class="list-group">
                                        <tr>
                                            <td style="border: #027368;"><a class="text-white"
                                                    href="default.asp?Pag=47&amp;Estado=PI"><b>Piripiri</b></a>
                                                <li class="list-group-item"><a href="default.asp?Pag=47&amp;Estado=PI"
                                                        class="text-body">Lutando pelo bem</a>
                                                </li>
                                            </td>
                                        </tr>

                                    </ul>
                                    <ul class="list-group">
                                        <tr>
                                            <td style="border: #027368;"><a class="text-white"
                                                    href="default.asp?Pag=47&amp;Estado=PI"><b>Parnaíba</b></a>
                                                <li class="list-group-item"><a href="default.asp?Pag=47&amp;Estado=PI"
                                                        class="text-body">Por um mundo melhor</a></li>
                                            </td>
                                        </tr>

                                    </ul>
                                    <ul class="list-group">
                                        <tr>
                                            <td style="border: #027368;"><a class="text-white"><b>Picos</b></a>
                                                <li class="list-group-item"><a href="default.asp?Pag=47&amp;Estado=PI"
                                                        class="text-body">Mãos dadas</a></li>
                                            </td>
                                        </tr>
                                    </ul>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </main>

    <div class="bg-white separador15linhas"></div>

    <footer>
        <div class="show container-fluid">

            <div class="row" style="padding-top:8px;padding-bottom:10px;height:50px;">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="https://www.facebook.com/ongsbrasileiras/" target="_blank"><img
                            src="https://img.icons8.com/ios/50/000000/facebook.png" height="40" width="40"></a>
                    <a href="http://www.twitter.com/ongsbrasil" target="_blank"><img
                            src="https://img.icons8.com/ios/50/000000/twitter-squared.png" width="40" height="40"></a>
                    <a href="https://www.instagram.com/ongsbrasil/" target="_blank"><img
                            src="https://img.icons8.com/ios/50/000000/instagram.png" width="40" height="40"></a>
                    <a href="/blog/" target="_blank"><img src="https://img.icons8.com/ios/50/000000/blogger.png"
                            width="40" height="40"></a>
                </div>


            </div>

            <div class="bg-dark row" style="padding-top:40px;padding-bottom:40px;">
                <div class="d-flex justify-content-center container">

                    <div class="hidden-lg hidden-md hidden-sm col-xs-12">
                        <div class="separador15linhas"></div>
                        <div class="separador15linhas"></div>
                    </div>

                    <div class="pt-5 col-md-4 col-sm-4 col-xs-12 text-left" style="line-height:80%">
                        <p style="color:#16A2B8; font-size:16px;"><b>ONGs Seach</b></p>
                        <a href="default.asp?Pag=16">
                            <p class="text-success textorodape"><span class="glyphicon glyphicon-user"
                                    aria-hidden="true"></span>
                                Quem Somos</p>
                        </a>
                        <a href="default.asp?Pag=17">
                            <p class="text-success textorodape"><span class="glyphicon glyphicon-envelope"
                                    aria-hidden="true"></span>
                                Fale Conosco</p>
                        </a>
                        <a href="default.asp?Pag=4">
                            <p class="text-success textorodape"><span class="glyphicon glyphicon-th-list"
                                    aria-hidden="true"></span>
                                Cadastre-se</p>
                        </a>
                        <a href="default.asp?Pag=48">
                            <p class="text-success textorodape"><span class="glyphicon glyphicon-bullhorn"
                                    aria-hidden="true"></span>
                                Anuncie</p>
                        </a>
                        <a href="default.asp?Pag=36">
                            <p class="text-success textorodape"><span class="glyphicon glyphicon-search"
                                    aria-hidden="true"></span>
                                Busca Avançada</p>
                        </a>
                    </div>

                    <div class="text-left">
                        <img src="/static/imagens/oie_transparent.png" border="0" width="200" height="200">&nbsp;
                        <p><span class="glyphicon glyphicon-copyright-mark textorodape text-info" aria-hidden="true"><b>
                                    2019</b>,</span>
                            <a href="http://www.irradie.com.br" target="_blank"><span
                                    class="text-success textorodape text-info"><b>NOME DA NOSSA
                                        EMPRESA</b></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>